<!DOCTYPE html>
<html ng-app="myApp" lang="en-US">
<head>
    <title>Add Course | Notesi - the collobative notes site</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="bootstrap-3.3.5-dist/js/angular-base64-upload.js"></script>
    <script src="choiceCtrl.js"></script>
    <link href="custom.css" rel="stylesheet">
</head>
<body ng-controller="choiceCtrl">
	<div>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand logo-link" href="index.html"><img class="logo" src="logo.png" alt="Notesi"/></a>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="addClass.html">Add Class <span class="sr-only">(current)</span></a></li>
	        <li><a href="uploadNotes.html">Upload Notes</a></li>
	      </ul>

	      <ul class="nav navbar-nav navbar-right">
          <form class="navbar-form navbar-left" role="search">
  	        <div class="form-group">
  	          <input type="text" class="form-control" placeholder="Search">
  	        </div>
  	        <button type="submit" class="btn btn-default">Submit</button>
  	      </form>
	        <li><a href="#">Logout</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>

	<div class="container well well-sm">
		<form name="course" class="form-horizontal">
		  <fieldset>
		    <legend>Add Class</legend>
		    <div class="form-group">
		      <label for="university" class="col-lg-2 control-label" style="margin-right: 15px;">University</label>
          <select style="width: 80%;" class="form-control" ng-model="newCourseForm.university" ng-options="university.id as university.name for university in receivedUniversities">
              <option value="">Select University</option>
          </select>
		    </div>
		    <div class="form-group">
		      <label for="professor" class="col-lg-2 control-label">Professor</label>
		      <div class="col-lg-10">
		        <input ng-model="newCourseForm.professor" type="text" class="form-control" id="inputprofessor" placeholder="Professor Dumbledore">
		      </div>
		    </div>
		    <div class="form-group">
		      <label for="department" class="col-lg-2 control-label">Department</label>
		      <div class="col-lg-10">
		        <input ng-model="newCourseForm.department" type="department" class="form-control" id="inputDepartment" placeholder="DA">
		      </div>
		    </div>
		    <div class="form-group">
		      <label for="courseID" class="col-lg-2 control-label">Course ID</label>
		      <div class="col-lg-10">
		        <input ng-model="newCourseForm.course_code" type="courseID" class="form-control" id="inputCourseID" placeholder="101">
		      </div>
		    </div>
		    <div class="form-group">
		      <label for="time" ng-model="newCourseForm.time" class="col-lg-2 control-label">Time</label>
		      <div class="col-lg-10">
		        <input ng-model="newCourseForm.time" type="time" class="form-control" id="inputTime">
		      </div>
		    </div>
		    <div class="form-group">
		      <label for="term" class="col-lg-2 control-label">Term</label>
		      <div class="col-lg-10">
		        <select ng-model="newCourseForm.term" class="form-control" id="select">
		          <option value="FALL">Fall</option>
		          <option value="WINTER">Winter</option>
		          <option value="SPRING">Spring</option>
		          <option value="SUMMER">Summer</option>
		        </select>
		      </div>
		    </div>
		    <div class="form-group">
		      <div class="col-lg-10 col-lg-offset-2">
		        <button type="reset" class="btn btn-default">Cancel</button>
		        <button type="button" class="btn btn-primary" ng-click="submitClass()">Submit</button>
		      </div>
		    </div>
		  </fieldset>
		</form>
	</div>
</body>
</html>
