a {
  cursor: pointer;
}

.class-panel {
  height: 300px;
}

.navbar-brand {
  font-weight: 700;
}

.navbar-nav {
  font-weight: 200;
}

.logo-link {
  padding: 0px;
}

.logo {
  margin-left: 10px;
  height: 45px;
  width: auto;
}
