<!DOCTYPE html>
<html ng-app="myApp" lang="en-US">
<head>
    <title>Add New | Notesi - the collobative notes site</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="custom.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="bootstrap-3.3.5-dist/js/angular-base64-upload.js"></script>
    <script src="choiceCtrl.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,200,700' rel='stylesheet' type='text/css'>
</head>
<body ng-controller="choiceCtrl">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="index.html">Notesi</a>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li><a href="addClass.html">Add Class <span class="sr-only">(current)</span></a></li>
	        <li class="active"><a href="uploadNotes.html">Upload Notes</a></li>
	      </ul>
	      <form class="navbar-form navbar-left" role="search">
	        <div class="form-group">
	          <input type="text" class="form-control" placeholder="Search">
	        </div>
	        <button type="submit" class="btn btn-default">Submit</button>
	      </form>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#">Logout</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>

  	<div class="container" ng-show="successfulUni">
        <span class="label label-success">University successfully created!</span>
    </div>

  	<div class="container well well-sm">
		<form class="form-horizontal" >
		  <fieldset>
		    <legend>Upload Notes</legend>
		    <div class="form-group">
  		      <label for="course" class="col-lg-2 control-label" style="margin-right: 15px;">Course</label>
            <select style="width: 80%;" class="form-control" ng-model="newNoteForm.course" ng-options="course.id as course.name for course in receivedCourses">
                <option value="">Select Course</option>
            </select>
  		    </div>
		    <div class="form-group">
		      <label for="lectDate" class="col-lg-2 control-label">Lecture Date</label>
		      <div class="col-lg-10">
		        <input type="date" class="form-control" ng-model="newNoteForm.date" id="inputLectDate">
		      </div>
		    </div>
		    <div class="form-group">
			    <div class="fileupload fileupload-new col-lg-10 col-lg-offset-2" data-provides="fileupload">
					<span class="btn btn-primary btn-file"><span class="fileupload-new">Select file</span>
					<span class="fileupload-exists">Change</span>
          <input type='file' ng-model='newNoteForm.file' base-sixty-four-input>
					<span class="fileupload-preview"></span>
					<a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
				</div>
			</div>
		    <div class="form-group">
		      <div class="col-lg-10 col-lg-offset-2">
		        <button type="reset" class="btn btn-default">Cancel</button>
		        <button type="submit" class="btn btn-primary" ng-click="submitNote()">Submit</button>
		      </div>
		    </div>
		  </fieldset>
		</form>
	</div>
